[Unit]
Description=Prometheus Alertmanager service
After=network.target

[Service]
Type=Sckupiimple
ExecStart=/usr/local/bin/alertmanager/alertmanager --config.file=/usr/local/bin/alertmanager/alertmanager.yml
 

[Install]
WantedBy=multi-user.target
