[Unit]
Description=Promtail sending log to loki
After=network.target

[Service]
Type=Simple
ExecStart=/usr/local/bin/node_exporter/node_exporter 
[Install]
WantedBy=multi-user.target
